body {
  background-color: #070707;
  font-family: 'Press Start 2P', cursive;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: #00cc00;
}

table {
font-size: 2rem;
}

table tr {

}

table tr td {

}

#image {
  padding: 23rem 1rem 0rem 22rem;
}

#descr {
  padding: 22.5rem 0rem 0rem 0rem;
}

table tr td img {
  width: 20rem;
}

table tr td ul {
  list-style-type: square;
}

table tr td ul li:hover{
color: white;
cursor: default;
}

#pnts {
  list-style-type: none;
  list-style-position: inside;
}

#pnts:hover {
  color: #00cc00;
}

#goback {
  
}

#goback a{
  color: #00cc00;
  text-decoration: none;
}

#goback a:hover {
  color: white;
}